nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  padding-top: 30px;
}
ul {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
}
@media (max-width: 425px) {
  nav {
    width: 90%;
  }
  ul {
    display: none;
  }
  .spisok2 {
    display: flex;
  }
  .spisok2 li {
    display: none;
  }
}
